@font-face {
	src: url('fonts/PoppinsReg.ttf');
	font-family: Poppins;
	font-weight: 400;
}

@font-face {
	src: url('fonts/PoppinsLight.ttf');
	font-family: Poppins;
	font-weight: 300;
}

@font-face {
	src: url('fonts/PoppinsSem.ttf');
	font-family: Poppins;
	font-weight: 600;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}

.title {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 4.78px;
	text-transform: uppercase;
	line-height: 1.2;
}

.links {
	font-size: 12px;
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 400px;
	padding: 0;
	font-weight: 600;
}

.link {
	 text-decoration: none;
	 color: #000000;
	 line-height: 2.8;
	 letter-spacing: 2.87px;
	 text-transform: uppercase;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.subtitle {
	font-size: 20px;
	text-transform: uppercase;
	line-height: 0.9;
	letter-spacing: 2px;
	font-weight: 600;
}

.about {
	font-size: 12px;
	margin: 10px 0 0 0;
	line-height: 1.6;
	max-width: 400px;
	letter-spacing: 0.48px;
}

.button {
	color: #fff;
	border: 2px solid #fff;
	font-size: 12px;
	text-align: center;
	background: transparent;
	border-radius: 20.2px;
	padding: 16px 42px 16px 43px;
	letter-spacing: 2.87px;
	font-weight: 600;
	text-transform: uppercase;
}

.header {
	background-image: url("image/background.jpg");
	height: 714px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.header-name {
position: absolute;
top: 234px;
left: 34px;
}

.about-me {
	display: flex;
}

.about-img {
	width: 308px;
  	height: 340px;
}

.subtitle-text {
	font-size: 12px;
	letter-spacing: 0.48px;
	text-transform: lowercase;
}

.about-me-text {
	max-width: 340px;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.48px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
}

.down-view {
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 0.48px;
}

.about-paragraph {
	display: flex;
	max-width: 765px;
}

.work-name {
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.48px;
	font-weight: 600;
}

.year {
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.48px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 300;
}

.section-works {
	background: #d1bac8;
}

.latest-works {
	text-align: center;
}

.latest-works-subtitle {
	font-size: 12px;
	letter-spacing: 0.48px;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

.works-photos {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0;
}

.works-photo {
	width: 364px;
}

.portfolio-item {
	position: relative;
}

.portfolio-item::before {
	content: "";
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}

.portfolio-item-text {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.photo-text {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.inputs {
	display: flex;
	flex-direction: column;
	padding-right: 45px;
}

.input {
	border: none;
 	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
 	width: 360px;
 }

 .textarea {
 	border: none;
 	border-bottom: 5px solid rgba(0, 0, 0, 0.5);
 	width: 360px;
 }

::placeholder {
	font-size: 12px;
	letter-spacing: 2.16px;
	text-transform: uppercase;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}

.container-form {
	display: flex;
	justify-content: center;
	position: relative;
}

.send {
	background-color: #000000;
	position: absolute;
	left: 50%;
}
